<div class="reservation pt-5 mb-5 pb-5">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-8">
        <h2 class="text-white">MAKE YOUR RESERVATION TODAY</h2>
        <p class="text-white">
          Use the form below to enter your contact information and reserve your
          executive transportation. Our team will contact you to confirm your
          reservation.
        </p>
      </div>
    </div>
    <div class="row justify-content-center pt-5">
      <div class="col-12 col-md-8">
        <mat-stepper [linear]="true" #stepper>
          <mat-step [stepControl]="pickupForm" label="Fill out your Travel Details">
            <form [formGroup]="pickupForm">
              <div class="row pt-4">
                <div class="col-12">
                  <label class="d-block">Category Type</label>
                  <mat-form-field class="w-100">
                    <mat-select formControlName="categoryType">
                      <mat-option
                        [value]="category.id"
                        *ngFor="let category of categoryTypes"
                      >
                        {{ category.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row pt-4">
                <div class="col-12 col-md-6">
                  <label class="d-block">Date</label>
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      [matDatepicker]="picker"
                      required
                      formControlName="travelDate"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 mb-4">
                  <label class="d-block">Time</label>
                  <ngx-timepicker-field
                    [defaultTime]="'11:11 AM'"
                    matInput
                    formControlName="travelTime"
                    [controlOnly]="true"
                  ></ngx-timepicker-field>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <label class="d-block">Travel Type</label>
                  <mat-form-field class="w-100">
                    <mat-select
                      formControlName="travelType"
                      (selectionChange)="hourlyValueChanges($event.value)"
                    >
                      <mat-option
                        [value]="hourly.id"
                        *ngFor="let hourly of travelTypes"
                      >
                        {{ hourly.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <ng-container
                *ngIf="getControl(pickupForm, 'travelType') === 'pickup-dropoff'"
              >
                <div class="row">
                  <div class="col-12">
                    <label class="d-block">Pick up Location</label>
                    <mat-form-field class="w-100">
                      <input
                        matInput
                        placeholder="Enter location"
                        formControlName="pickupLocation"
                        required
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <label class="d-block">
                    <mat-checkbox
                      formControlName="differentDropoff"
                      (change)="differentLocationToggle($event.checked)"
                      >Return at different location
                    </mat-checkbox>
                  </label>
                </div>

                <ng-container
                  *ngIf="getControl(pickupForm, 'differentDropoff')"
                >
                  <div class="row pt-4">
                    <div class="col-12">
                      <label class="d-block">Drop off Location</label>
                      <mat-form-field class="w-100">
                        <input
                          matInput
                          placeholder="Enter location"
                          formControlName="dropoffLocation"
                          required
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </ng-container>
              </ng-container>

              <ng-container
                *ngIf="
                  getControl(pickupForm, 'travelType') === 'hourly'
                "
              >
                <div class="row">
                  <div class="col-12">
                    <label class="d-block">Number of hours</label>
                    <mat-form-field class="w-100">
                      <input
                        matInput
                        placeholder="Enter Hours"
                        formControlName="hours"
                        min="1"
                        type="number"
                        required
                      />
                    </mat-form-field>
                  </div>
                </div>
                
              </ng-container>
              

              <div class="row pt-4">
                <div class="col-12 col-md-6">
                  <label class="d-block">Number of passengers</label>
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      formControlName="numberOfPassengers"
                      required
                      min="1"
                      type="number"
                    />
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <label class="d-block">Notes</label>
                  <mat-form-field class="w-100">
                    <textarea
                      matInput
                      placeholder="Enter Notes"
                      formControlName="notes"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <button
                  mat-button
                  matStepperNext
                  class="btn btn--sm btn--primary"
                  (click)="submit()"
                >
                  Next
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="userInfoForm" label="Fill out your Personal Info">
            <form [formGroup]="userInfoForm">

              <div class="row pt-4">
                <div class="col-12 col-md-6">
                  <label class="d-block">First Name</label>
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      placeholder="Enter first name"
                      formControlName="firstName"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                  <label class="d-block">Last Name</label>
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      placeholder="Enter last name"
                      formControlName="lastName"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="d-block">Email</label>
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      placeholder="Enter email"
                      formControlName="email"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="d-block">Mobile</label>
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      type="number"
                      placeholder="Enter mobile"
                      formControlName="mobileNumber"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>

              <div class="d-flex">
                <button
                  mat-button
                  matStepperPrevious
                  class="btn btn--sm btn--text"
                >
                  Back
                </button>
                <button
                  mat-button
                  matStepperNext
                  type="submit"
                  class="btn btn--sm btn--primary"
                  (click)="submit()"
                >
                  Book
                </button>
              </div>
            </form>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
</div>
