<div class="reservation pt-5">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-8">
        <h2>MAKE YOUR RESERVATION TODAY</h2>
        <p>
          Use the form below to enter your contact information and reserve your
          executive transportation. Our team will contact you to confirm your
          reservation.
        </p>
      </div>
    </div>
    <div class="row justify-content-center pt-5">
      <div class="col-12 col-md-8">
        <mat-stepper [linear]="false" #stepper>
          <mat-step [stepControl]="userInfoForm">
            <form [formGroup]="userInfoForm">
              <ng-template matStepLabel>Fill out your name</ng-template>

              <div class="row pt-4">
                <div class="col-12 col-md-6">
                  <label class="d-block">First Name</label>
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      placeholder="Enter first name"
                      formControlName="firstName"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                  <label class="d-block">Last Name</label>
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      placeholder="Enter last name"
                      formControlName="lastName"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="d-block">Email</label>
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      placeholder="Enter email"
                      formControlName="email"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="d-block">Mobile</label>
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      type="number"
                      placeholder="Enter mobile"
                      formControlName="mobile"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
              <div>
                <button
                  mat-button
                  matStepperNext
                  class="btn btn--sm btn--primary"
                >
                  Next
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="pickupForm" label="Fill out your address">
            <form [formGroup]="pickupForm">
              <div class="row pt-4">
                <div class="col-12 col-md-6">
                  <label class="d-block">Date</label>
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      [matDatepicker]="picker"
                      required
                      formControlName="date"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                  <label class="d-block">Time</label>
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      placeholder="Last name, First name"
                      formControlName="time"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <label class="d-block">Location</label>
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      placeholder="Last name, First name"
                      formControlName="location"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button
                class="btn btn--sm btn--primary"
                type="submit"
                (click)="submit()"
              >
                Book
              </button>
              <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
</div>
