<div class="contact-us-card">
  <h2 class="text-main">CONTACT US</h2>
  <div class="contact-us-card__details mt-5 p-3">
    <div class="detail d-flex">
      <mat-icon class="text-main" aria-hidden="false" fontIcon="phone"></mat-icon>
      <p class="text-main mx-2">888-340-3999</p>
    </div>
    <hr />
    <div class="detail d-flex">
      <mat-icon class="text-main" aria-hidden="false" fontIcon="mail"></mat-icon>
      <p class="text-main mx-2">info@moderneliteworldwide.com</p>
    </div>
  </div>
</div>
