<section class="gallery">
  <div class="container">
    <div class="row text-center">
      <h2 class="text-dark">OUR CARS MODEL</h2>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-2 col-lg-4 mb-5">
        <app-gallery-card
          [image]="'assets/images/gallery/Gallarey_1.jpg'"
        ></app-gallery-card>
      </div>
      <div class="col-12 col-md-2 col-lg-4 mb-5">
        <app-gallery-card
          [image]="'assets/images/gallery/Gallarey_2.jpg'"
        ></app-gallery-card>
      </div>
      <div class="col-12 col-md-2 col-lg-4 mb-5">
        <app-gallery-card
          [image]="'assets/images/gallery/Gallarey_3.jpg'"
        ></app-gallery-card>
      </div>
      <div class="col-12 col-md-2 col-lg-4 mb-5">
        <app-gallery-card
          [image]="'assets/images/gallery/Gallarey_4.jpg'"
        ></app-gallery-card>
      </div>
      <div class="col-12 col-md-2 col-lg-4 mb-5">
        <app-gallery-card
          [image]="'assets/images/gallery/Gallarey_5.jpg'"
        ></app-gallery-card>
      </div>
      <div class="col-12 col-md-2 col-lg-4 mb-5">
        <app-gallery-card
          [image]="'assets/images/gallery/Gallarey_6.jpg'"
        ></app-gallery-card>
      </div>
    </div>
  </div>
</section>
