<section class="home">
  <div
    class="home__header h-100 d-flex align-items-center justify-content-between"
  >
    <div class="row m-0 w-100 justify-content-end">
      <div class="col-sm-4">
        <div
          class="home__header-text h-100 d-flex flex-column justify-content-center"
        >
          <div class="description">
            <span class="main-text">MOVING THOSE WHO MOVE THE WORLD </span>
            <p class="text-white">
              Luxurious Executive Transportation Worldwide
            </p>
          </div>
          <div class="d-flex mt-3">
            <button class="btn btn--lg btn--primary">Book Now</button>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-8">
        <div class="home__header-img">
          <img src="assets/images/car.png" alt="home" class="img-fluid" />
        </div>
      </div> -->
    </div>
  </div>

  <app-about-us id="about"></app-about-us>

  <app-reservation id="form"></app-reservation>

  <app-gallery id="gallery"></app-gallery>

  <app-services id="services"></app-services>

  <app-contact-us id="contact-us"></app-contact-us>

  <a href="#form" class="position-fixed bottom-0 end-0 text-decoration-none m-5">
    <button class="btn btn--lg btn--primary">
      Book Now
    </button>
  </a>
</section>
