@import "abstracts/variables";

.home {
    height: 56rem;
    &__header {
        &-text {
            .description {
                font-size: 1.2rem;
                line-height: 1.5;
                .main-text {
                    color: $primary-main;
                    font-size: 2.5rem;
                    font-weight: 900;
                }
            }
        }
    }
}
