<section class="about-us py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="about-us__text z-1">
          <h2 class="about-us__text-title text-dark">About Us</h2>
          <p class="about-us__text-description text-dark col-12 col-md-8 mt-4">
            Welcome to MJM LIMO and Transportation. We offer luxury ground
            transportation services at an affordable price in SouthernCalifornia
            and orange county . When it comes to Luxury and Class, our best in
            the class fleet and top-notch service has no match. No matter what
            the occasion is, we have all kinds of the fleet to fit your
            requirements. Whether its a birthday, bachelor party, airport
            transfer, corporate transportation or a group tour, we offer the
            most luxurious transportation. Get in touch with us now and book
            your next ride with us.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="assets/images/about-limmo.png" alt="home" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
