<section class="about-us pt-5">
  <div class="container">
    <div class="row">
      <div class="about-us__text z-1">
        <h2 class="about-us__text-title text-white">About Us</h2>
        <p class="about-us__text-description text-white col-12 col-md-8 mt-4">
          We provide reliable transportation to and from your travel
          destinations discretely and promptly with our extensive road, terrain,
          and parking knowledge, our large fleet of diplomat-transport cars, and
          our dedication to the highest level of service quality.
        </p>
      </div>
    </div>
  </div>
</section>
